body{
    font-family: 'Oswald', sans-serif !important;
}
.text-logo {
    font-weight: 900;
    margin: 1rem;
}
.navbar {
    margin-left: 1rem;
}
.navbar a{
    color:#000;
}
.card .btn {
    width:100%;
    background-color:#fff !important; 
    border: solid 2px black !important;
    color: #000 !important;
    outline: none !important;
}
.btn:hover, .btn:focus{
    background-color:#fff;
    color: #343A40 !important;    
} 
a {
    text-decoration: none !important;
}
a:hover {
    outline: none !important;
    color:#5A6268!important;
}
.card {
    margin : 2rem auto 2rem auto;
}

/* POUR LA PAGE D'ADMINISTRATION */

.admin{

    padding : 50px;

}
header h1 {
    text-align: center;
}
.row h1 {
    color: #000;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.title .btn  {
    margin-left: 2rem;
    width:150px;
    background-color: #fff !important; 
    border: solid 2px #000 !important;
    color: #000 !important;
    box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
    -webkit-box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
    -moz-box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
}

.table .btn{
    margin-left: 2rem;
    width:50px;
    background-color: #fff !important; 
    border: solid 2px #000 !important;
    color: #000 !important;
}
.title {
    margin-bottom: 2rem;
}
.view {
    border: solid 3px #000 !important;
    box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
    -webkit-box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
    -moz-box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
}
.description {
    padding: 1.5rem !important;
}
.creation input, select{

    width:100%;
    border: solid 2px #000 !important;
    border-radius: 0px  !important;
    box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
    -webkit-box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
    -moz-box-shadow: 7px 7px 0px -2px rgb(0, 0, 0);
}
.minititle {
    text-align:center;
    margin : 1rem 0 1rem 0;
}
.form-group{
    margin: 2rem auto 2rem auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
